<a href="https://colab.research.google.com/github/lachain-2005/demo/blob/master/Lachain__CTP_Sample_Mock_Questions_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **CTP Python — Sample Mock Exam (18 Questions with Hints + Sample I/O)**

This notebook contains all 18 questions, each with:
- Problem statement  
- Hint  
- Sample Input  
- Sample Output  

Students can write their solutions directly under each problem.

## 1. Temperature Converter

Write `convert_temp(value, unit="C")` to convert °C ↔ °F.

**Hint:** Use conversion formulas.

### Sample Input:
```
convert_temp(30)
convert_temp(86, "F")
```

### Sample Output:
```
30°C → 86.0°F
86°F → 30.0°C
```

In [1]:
# Write your solution here

celcius=float(input("enter the temparature in celcius:"))
Fahrenhite=float(input("enter the temparature in fahrenhite:"))
print("C->F:",((9/5)*celcius)+32,"degree F")
print("F->C:",(5/9)*(Fahrenhite-32),"degree C")

enter the temparature in celcius:30
enter the temparature in fahrenhite:86
C->F: 86.0 degree F
F->C: 30.0 degree C

## 2. Greeting Function

Function `welcome(name, course="CTP", section="A", repeat=1)`.

**Hint:** Use a loop.

### Sample Input:
```
welcome(name="Asha", repeat=2)
```

### Sample Output:
```
Welcome Asha to CTP Section A!
Welcome Asha to CTP Section A!
```

In [ ]:
# Write your solution here
def welcome(name="Asha",repeat=2):
  for i in range (repeat):
   print("Welcome",name,"to CTP Section A!")
welcome()

Welcome Asha to CTP Section A!
Welcome Asha to CTP Section A!

## 3. Basic Calculator

Function `calculate(a, b, op="+")`.

**Hint:** Use if-elif.

### Sample Input:
```
calculate(10, 5)
calculate(10, 5, "-")
```

### Sample Output:
```
15
5
```

In [ ]:
# Write your solution here
def calculate(a,b,op="+"):
  if op=="+ ":
   print(a,op,b,"=",10+5)
  elif op=="-":
   print(a,op,b,"=",10-5)
calculate(10,5,"-")

10 - 5 = 5

## 4. Travel Cost Calculator

Function `trip_cost(base=1000, food=0, transport=0, misc=0)`.

### Sample Input:
```
trip_cost(1000, food=300, transport=100)
```

### Sample Output:
```
1400
```

In [ ]:
# Write your solution here
def trip_cost(base,food,transport,misc):
  print("trip_cost=",base+food+transport+misc)
trip_cost(1000,300,100,0)

trip_cost= 1400

## 5. Armstrong Filter

Function `find_armstrong(nums, power=3)`.

### Sample Input:
```
find_armstrong([153, 370, 100, 9474])
```

### Sample Output:
```
[153, 370]
```

In [ ]:
# Write your solution here
def find_armstrong(nums,power=3):
  armstrong=[]
  for i in nums:
    sum=0
    x=str(i)
    for j in x:
      sum+=int(j)**power
    if sum==i:
     armstrong.append(i)
  print(armstrong)
nums=[153,255,370,100]
find_armstrong(nums)

[153, 370]

## 6. Square List + Sum

### Sample Input:
```
square_then_sum([1,2,3])
```

### Sample Output:
```
Squared List: [1,4,9]
Sum: 14
```

In [ ]:
# Write your solution here
def square_then_sum(x):
  sum=0
  squared_list=[]
  for i in x:
    square=i**2
    sum+=square
    squared_list.append(square)
  print("Squared List:",squared_list)
  print("sum:",sum)
x=[1,2,3]
square_then_sum(x)

Squared List: [1, 4, 9]
sum: 14

## 7. Reverse Fibonacci

### Sample Input:
```
reverse_fibonacci(6)
```

### Sample Output:
```
Normal: [0,1,1,2,3,5]
Reversed: [5,3,2,1,1,0]
```

In [ ]:
# Write your solution here

normal=[1,1]
def fibonacci(n):
  a=0
  b=1
  for i in range(2,n):
   a,b=b,a+b
   normal.append(a+b)
fibonacci(6)
print(normal[::-1])

[8, 5, 3, 2, 1, 1]

## 8. Sum of Even Digits

### Sample Input:
```
sum_even_digits(48219)
```

### Sample Output:
```
14
```

In [ ]:
# Write your solution here
def sum_even(x):
  sum=0
  for i in x:
    if int(i)%2==0:
      sum+=int(i)
  return sum
print(sum_even("48219"))

14

## 9. List Statistics

### Sample Input:
```
stats([2,5,8,11,14])
```

### Sample Output:
```
Max: 14
Min: 2
Average: 8
Even: 3
Odd: 2
```

In [ ]:
# Write your solution here
def stats(x):
  max=0
  min=x[0]
  even_count=0
  odd_count=0
  count=0
  sum=0
  for i in x:
    if i>max:
      max=i
    elif i<min:
      min=i
    count+=1
    sum+=i
    if i%2==0:
      even_count+=1
    else:
      odd_count+=1
  average=sum/count
  print(f"max={max}\nmin={min}\naverage={average}\neven_count={even_count}\nodd_count={odd_count}")

x=[2,5,8,11,14]
stats(x)

max=14
min=2
average=8.0
even_count=3
odd_count=2

## 10. Palindrome Checker

### Sample Input:
```
find_palindromes(["level","cat","racecar"])
```

### Sample Output:
```
['level','racecar']
```

In [ ]:
# Write your solution here
def find_palindrome(x):
  palindrome=[]
  for words in x:
   if words==words[::-1]:
    palindrome.append(words)
  print(palindrome)
x=["level","cat","racecar"]
find_palindrome(x)

['level', 'racecar']

## 11. Hollow Square

### Sample Input:
```
hollow_square(5)
```
### Sample Output:
```
*****
*   *
*   *
*   *
*****
```

In [ ]:
# Write your solution here
def hollow_square(a):
  print("*"*a)
  for i in range (a-2):
    print("*"+" "*(a-2)+"*")
  print("*"*a)

hollow_square(5)

*****
*   *
*   *
*   *
*****

## 12. Number Pyramid

### Sample Input:
```
num_pyramid(4)
```
### Sample Output:
```
1
1 2
1 2 3
1 2 3 4
```

In [ ]:
# Write your solution here
def num_pyramid(n):
  for i in range (1,n+1):
    for j in range (1,i+1):
     print(j,end=" ")
    print()
num_pyramid(4)

1
1 2
1 2 3
1 2 3 4

## 13. Stepped Stars

### Sample Input:
```
stepped_stars(4, step=2)
```
### Sample Output:
```
**
****
******
********
```

In [ ]:
# Write your solution here
def stepped_stars(n, step=2):
  for i in range (1,n+1):
    print("*"*(2*i))
stepped_stars(4)

**
****
******
********

## 14. Diagonal Pattern

### Sample Input:
```
diagonal("APPLE")
```
### Sample Output:
```
A
 P
  P
   L
    E
```

In [ ]:
# Write your solution here
def word(x):
  space=0
  for ch in x:
    print(" "*space+ch)
    space+=1
word("Apple")

A
 p
  p
   l
    e

## 15. Frequency Counter

### Sample Input:
```
clean_and_count("Hello World")
```

### Sample Output:
```
{'h':1,'e':1,'l':3,'o':2,'w':1,'r':1,'d':1}
```

In [ ]:
# Write your solution here
def frequency(x):
  x=x.replace(" ","").lower()
  freq={}
  for i in x:
    if i in freq:
      freq[i]+=1
    else:
      freq[i]=1
  print(freq)
frequency("Hello world")

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

## 16. Password Generator

### Sample Input:
```
generate_password("Nanziba", 10)
```

### Sample Output:
```
nan7!k2@9#  (random)
```

In [ ]:
# Write your solution here
import random
def password(length):
  passw=""
  x="1234567890"
  y="abcdefghijklmnopqrstuvwxyz"
  a=x+y
  for i in range(length):
    passw=passw+random.choice(a)
  print(passw)
password(6)

b7bqy6

## 17. Dice Battle Game

### Sample Input:
```
dice_game("Asha","Mina")
```

### Sample Output:
```
Asha rolled 4
Mina rolled 6
Winner: Mina
```

In [ ]:
# Write your solution here

## 18. Jumbled Word Quiz

### Sample Input:
```
jumbled_quiz("python")
```

### Sample Output:
```
tyonph
```

In [ ]:
# Write your solution here
import random
def word(x):
  y=list(x)
  random.shuffle(y)
  jumbled="".join(y)
  print(jumbled)
word("Python")

tPoynh